// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
//$fg-color: {"@theme_fg_color"};
// $bg-color: {"@theme_bg_color"};


$bg: #312b24;
$border: #3b3026;
$fg: #d5bfa1;
$muted: #866f51;
$sep: #46392d;

$ws1: #4b4db8;
$ws2: #da9a22;
$ws3: #f25146;
$ws4: #4396b7;


window.Bar {
  background: transparent;
  color: $muted;
  font-weight: bold;

  > centerbox {
    background: transparent;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}



hypr-workspace {
	border-width: 0;
	min-width: 33px;
  min-height: 33px;
  transition: border, border-color, box-shadow, transform 140ms cubic-bezier(0.68, -0.55, 0.27, 1.55); 
}

hypr-workspaces-selector label {
	color: $muted;
	padding: 0 6px 0 4px;
	margin: 0;
}

hypr-workspace.focused {
	background-color: $bg;
	border-radius: 8px;
	box-shadow:
		inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
		inset 0px calc(-2px) 0px 1px rgba(0, 0, 0, 0.25),
		0px 1px 2px -0.1px rgba(0, 0, 0, 0.47);
	transition: none;
}

hypr-workspace.focused {

  transition: border, border-color, box-shadow, transform 140ms cubic-bezier(0.68, -0.55, 0.27, 1.55); 
}

hypr-workspace.focused label { margin-bottom: 2px; }
hypr-workspace:not(.focused):active label { 
  margin-top: 8px;
}

hypr-workspace.focused:nth-child(1),
hypr-workspace.focused:nth-child(5)  { border: 1px solid $ws1; }
hypr-workspace.focused:nth-child(1) label,
hypr-workspace.focused:nth-child(5) label  { color: $ws1; }

hypr-workspace.focused:nth-child(2),
hypr-workspace.focused:nth-child(3n+6) { border: 1px solid $ws2; }
hypr-workspace.focused:nth-child(2) label,
hypr-workspace.focused:nth-child(3n+6) label { color: $ws2; }

hypr-workspace.focused:nth-child(3),
hypr-workspace.focused:nth-child(3n+7) { border: 1px solid $ws3; }
hypr-workspace.focused:nth-child(3) label,
hypr-workspace.focused:nth-child(3n+7) label { color: $ws3; }

hypr-workspace.focused:nth-child(4),
hypr-workspace.focused:nth-child(3n+8) { border: 1px solid $ws4; }
hypr-workspace.focused:nth-child(4) label,
hypr-workspace.focused:nth-child(3n+8) label { color: $ws4; }

hypr-workspace:not(:last-child):not(.focused),
hypr-workspace:not(:last-child):not(.focused):hover {
	border-radius: 0;
	border-right: 0.5px solid $sep;
}

hypr-workspace:hover {
	border: none;
	box-shadow: none;
	text-shadow: none;
	box-shadow:
		inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
		inset 0px calc(-2px) 0px 1px rgba(0, 0, 0, 0.25),
		0px 1px 2px -0.1px rgba(0, 0, 0, 0.47);
}

hypr-workspace:hover:not(.focused) {
	background: transparent;
  color: #987f5f; 
	border: none;
	box-shadow: none;
	text-shadow: none; 
}

hypr-workspace:not(.focused):hover label { margin-bottom: 2px; }
